<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'anms.title' | translate }}</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../features">
          {{ 'anms.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">
          {{ 'anms.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">
          {{ 'anms.about.change-theme' | translate }}
        </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="contributors" [ngClass]="routeAnimationsElements">
    <div class="contributors-wrapper">

      <!-- ALL-CONTRIBUTORS-LIST:START -->
  <a class="contributor" href="https://medium.com/@tomastrajan" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/3764868?v=4">
    <span>Aniello Sorrentino</span>
  </a>
  <!-- ALL-CONTRIBUTORS-LIST:END -->

    </div>
  </div>
</div>
