<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="main-heading">{{ 'anms.auth.login.title' | translate }}</h1>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <mat-card [ngClass]="routeAnimationsElements">
              <span class="d-flex justify-content-center align-items-baseline subtitle">
                <h2> {{ 'anms.auth.login.sub.title' | translate }}</h2>
              </span>
              <div class="row username">
                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                  <input matInput placeholder="{{ 'anms.auth.login.placeholder1' | translate }}" formControlName="username">
                  <mat-error *ngIf="form.get('username').invalid">
                    {{ 'anms.auth.login.placeholder1' | translate }}
                    {{ 'anms.auth.login.error1' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row password">
                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                  <input matInput type="password" placeholder="{{ 'anms.auth.login.placeholder2' | translate }}"
                    formControlName="password">
                  <mat-error *ngIf="form.get('password').invalid">
                    {{ 'anms.auth.login.placeholder2' | translate }}
                    {{ 'anms.auth.login.error1' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row buttons d-flex justify-content-center">
                <button mat-raised-button color="accent" [ngClass]="routeAnimationsElements">
                  {{ 'anms.auth.login.login' | translate }}
                </button>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
  </div>