@import '../../styles-variables';

mat-tree {
  height: 100%;
  width: 100%;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }

  .mat-menu {
    padding-top: 0;
    width: 100px;
    height: 500px;
  }
}
