@import '~@angular/material/theming';

@mixin anms-app-tree-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  mat-tree {
    mat-tree-node {
      .a {
        color: 'red';
        height: 64px;
        font-size: 100px;
      }
    }
  }
}
